<h1>Word: <%= @word.word %> </h1>

<%# UPDATE METHOD %>
<form action="/admin/edit/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="rename">Rename word</label>
  <input id="rename" name="rename" type="text">
  <button type="submit">Update</button>
</form>

<%# DELETE METHOD %>
<form action="/admin/edit/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Word</button>
</form>


<p><a href="/home">Return to home page!</a></p>