<h1>Welcome to Word Finder!</h1>

<% if @words.any? %>

  <% @words.each do |word| %>
    <p><a href="/home/view/<%=word.id%>"> <%=word.word%> </a></p>
  <% end %>

<% else %>
  <p>There are currently no words to display!</p>
<% end %>


<button type="button" class="btn btn-dark"><a href="/home/new">Create Word!</a></button>