<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Word Definer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
=======
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
>>>>>>> 9d7caa81f2de4bbc49f266cfb68ede9d16eaf682
  </head>
  <body>
    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>