<h1>Create a word!</h1>

<form action="/home/new" method="post">
  <div class="form-group">
    <input id="new_word" name="new_word" class="form-control" placeholder="Enter Word">
    <br>
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>