<h1> <%= @word.word %></h1>

<% if @word.get_definitions %> 
  <% @word.get_definitions.each do |d| %>
    <p><%= d.definition %></p>
    <footer><%= d.author %></footer>
  <% end %>
<% else %> 
  <p>It doesn't look like anyone has written a definition yet! Why don't you add one?</p>
<% end %>


<h3>Add a definition of your own!</h3>

<form action="/home/<%= @word.id %>/definition" method="post">
  <div class="form-group">
    <input id="define" name="define" class="form-control" type="text" placeholder="Enter your definition">
    <br>
    <input id="author" name="author" class="form-control" type="text" placeholder="Enter your name">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
<br>
<p><a href="/home">Return to the homepage!!</a></p>